body {
  text-align: center;
  line-height: normal;
  font-family: Georgia, "Times New Roman",Times, serif;
  color: purple;
  background-color: #6E8B74;
}

h1{
  text-align: center;
  color:#F2E6CE;
}

p{
  text-align: center;
  color:#F2E6CE;

}

button{

    font-size: 38px;
    background-color:#F2E6CE;
    border-color:#475C4E;
    color:#6E8B74 ;
    padding: 10px;
    text-align: center;
    margin: 50px;
    align:center;
   }
